
@{
    ViewData["Title"] = "ProductList";
}
@model List<Product>
<link href="~/css/Heartstyle.css" rel="stylesheet" />
<div class="container" id="body1">
    <!-- Breadcrumb Start-->
    <ul class="breadcrumb">
        <li><a href="index.html"><i class="fa fa-home"></i></a></li>
        <li><a href="category.html">الکترونیکی</a></li>
    </ul>
    <!-- Breadcrumb End-->
    <div class="row">
        <!--Left Part Start -->
        <aside id="column-left" class="col-sm-3 hidden-xs">


            <h3 class="subtitle">پرفروش ها</h3>
            <div class="side-item">
                <div class="product-thumb clearfix">
                    <div class="~/Template/image"><a href="product.html"><img src="~/Template/image/product/apple_cinema_30-50x50.jpg" alt="تی شرت کتان مردانه" title="تی شرت کتان مردانه" class="img-responsive"></a></div>
                    <div class="caption">
                        <h4><a href="product.html">تی شرت کتان مردانه</a></h4>
                        <p class="price"><span class="price-new">110000 تومان</span> <span class="price-old">122000 تومان</span> <span class="saving">-10%</span></p>
                    </div>
                </div>
                <div class="product-thumb clearfix">
                    <div class="~/Template/image"><a href="product.html"><img src="~/Template/image/product/iphone_1-50x50.jpg" alt="آیفون 7" title="آیفون 7" class="img-responsive"></a></div>
                    <div class="caption">
                        <h4><a href="product.html">آیفون 7</a></h4>
                        <p class="price"> 2200000 تومان </p>
                        <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span></div>
                    </div>
                </div>
                <div class="product-thumb clearfix">
                    <div class="~/Template/image"><a href="product.html"><img src="~/Template/image/product/macbook_1-50x50.jpg" alt="آیدیا پد یوگا" title="آیدیا پد یوگا" class="img-responsive"></a></div>
                    <div class="caption">
                        <h4><a href="product.html">آیدیا پد یوگا</a></h4>
                        <p class="price"> 900000 تومان </p>
                        <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                    </div>
                </div>
                <div class="product-thumb clearfix">
                    <div class="~/Template/image"><a href="product.html"><img src="~/Template/image/product/sony_vaio_1-50x50.jpg" alt="کفش راحتی مردانه" title="کفش راحتی مردانه" class="img-responsive"></a></div>
                    <div class="caption">
                        <h4><a href="product.html">کفش راحتی مردانه</a></h4>
                        <p class="price"> <span class="price-new">32000 تومان</span> <span class="price-old">12 میلیون تومان</span> <span class="saving">-25%</span> </p>
                        <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                    </div>
                </div>
                <div class="product-thumb clearfix">
                    <div class="~/Template/image"><a href="product.html"><img src="~/Template/image/product/FinePix-Long-Zoom-Camera-50x50.jpg" alt="دوربین فاین پیکس" title="دوربین فاین پیکس" class="img-responsive"></a></div>
                    <div class="caption">
                        <h4><a href="product.html">دوربین فاین پیکس</a></h4>
                        <p class="price">122000 تومان</p>
                    </div>
                </div>
            </div>
            <h3 class="subtitle">ویژه</h3>
            <div class="side-item">
                <div class="product-thumb clearfix">
                    <div class="~/Template/image"><a href="product.html"><img src="~/Template/image/product/macbook_pro_1-50x50.jpg" alt=" کتاب آموزش باغبانی " title=" کتاب آموزش باغبانی " class="img-responsive"></a></div>
                    <div class="caption">
                        <h4><a href="product.html">کتاب آموزش باغبانی</a></h4>
                        <p class="price"> <span class="price-new">98000 تومان</span> <span class="price-old">120000 تومان</span> <span class="saving">-26%</span> </p>
                    </div>
                </div>
                <div class="product-thumb clearfix">
                    <div class="~/Template/image"><a href="product.html"><img src="~/Template/image/product/samsung_tab_1-50x50.jpg" alt="تبلت ایسر" title="تبلت ایسر" class="img-responsive"></a></div>
                    <div class="caption">
                        <h4><a href="product.html">تبلت ایسر</a></h4>
                        <p class="price"> <span class="price-new">98000 تومان</span> <span class="price-old">240000 تومان</span> <span class="saving">-5%</span> </p>
                        <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                    </div>
                </div>
                <div class="product-thumb clearfix">
                    <div class="~/Template/image"><a href="product.html"><img src="~/Template/image/product/apple_cinema_30-50x50.jpg" alt="تی شرت کتان مردانه" title="تی شرت کتان مردانه" class="img-responsive"></a></div>
                    <div class="caption">
                        <h4><a href="http://demo.harnishdesign.net/opencart/marketshop/v1/index.php?route=product/product&amp;product_id=42">تی شرت کتان مردانه</a></h4>
                        <p class="price"> <span class="price-new">110000 تومان</span> <span class="price-old">122000 تومان</span> <span class="saving">-10%</span> </p>
                    </div>
                </div>
                <div class="product-thumb clearfix">
                    <div class="~/Template/image"><a href="product.html"><img src="~/Template/image/product/nikon_d300_1-50x50.jpg" alt="دوربین دیجیتال حرفه ای" title="دوربین دیجیتال حرفه ای" class="img-responsive"></a></div>
                    <div class="caption">
                        <h4><a href="product.html">دوربین دیجیتال حرفه ای</a></h4>
                        <p class="price"> <span class="price-new">92000 تومان</span> <span class="price-old">98000 تومان</span> <span class="saving">-6%</span> </p>
                    </div>
                </div>
                <div class="product-thumb clearfix">
                    <div class="~/Template/image"><a href="product.html"><img src="~/Template/image/product/nikon_d300_5-50x50.jpg" alt="محصولات مراقبت از مو" title="محصولات مراقبت از مو" class="img-responsive"></a></div>
                    <div class="caption">
                        <h4><a href="product.html">محصولات مراقبت از مو</a></h4>
                        <p class="price"> <span class="price-new">66000 تومان</span> <span class="price-old">90000 تومان</span> <span class="saving">-27%</span> </p>
                        <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                    </div>
                </div>
                <div class="product-thumb clearfix">
                    <div class="~/Template/image"><a href="product.html"><img src="~/Template/image/product/macbook_air_1-50x50.jpg" alt="لپ تاپ ایلین ور" title="لپ تاپ ایلین ور" class="img-responsive"></a></div>
                    <div class="caption">
                        <h4><a href="product.html">لپ تاپ ایلین ور</a></h4>
                        <p class="price"> <span class="price-new">10 میلیون تومان</span> <span class="price-old">12 میلیون تومان</span> <span class="saving">-5%</span> </p>
                    </div>
                </div>
            </div>
            <div class="banner owl-carousel owl-theme" style="opacity: 1; display: block;">
                <div class="owl-wrapper-outer"><div class="owl-wrapper owl-origin" style="width: 852px; left: 0px; display: block; transition: all 0ms ease 0s; transform: translate3d(0px, 0px, 0px); transform-origin: 106.5px center; perspective-origin: 106.5px center;"><div class="owl-item owl-fade-in" style="width: 213px;"><div class="item"> <a href="#"><img src="~/Template/image/banner/small-banner1-265x350.jpg" alt="small banner" class="img-responsive"></a> </div></div><div class="owl-item owl-fade-out" style="width: 213px; position: relative; left: -213px;"><div class="item"> <a href="#"><img src="~/Template/image/banner/small-banner-265x350.jpg" alt="small banner1" class="img-responsive"></a> </div></div></div></div>

            </div>
        </aside>
        <!--Left Part End -->
        <!--Middle Part Start-->
        <div id="content" class="col-sm-9">
            <h1 class="title">الکترونیکی</h1>


            <div class="product-filter">
                <div class="row">
                    <div class="col-md-4 col-sm-5">
                        <div class="btn-group">
                            <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="" data-original-title="List"><i class="fa fa-th-list"></i></button>
                            <button type="button" id="grid-view" class="btn btn-default selected" data-toggle="tooltip" title="" data-original-title="Grid"><i class="fa fa-th"></i></button>
                        </div>
                        <a href="compare.html" id="compare-total">محصولات مقایسه (0)</a>
                    </div>
                    <div class="col-sm-2 text-right">
                        <label class="control-label" for="input-sort">مرتب سازی :</label>
                    </div>
                    <div class="col-md-3 col-sm-2 text-right">
                        <select id="input-sort" class="form-control col-sm-3">
                            <option value="" selected="selected">پیشفرض</option>
                            <option value="">نام (الف - ی)</option>
                            <option value="">نام (ی - الف)</option>
                            <option value="">قیمت (کم به زیاد)</option>
                            <option value="">قیمت (زیاد به کم)</option>
                            <option value="">امتیاز (بیشترین)</option>
                            <option value="">امتیاز (کمترین)</option>
                            <option value="">مدل (A - Z)</option>
                            <option value="">مدل (Z - A)</option>
                        </select>
                    </div>
                    <div class="col-sm-1 text-right">
                        <label class="control-label" for="input-limit">نمایش :</label>
                    </div>
                    <div class="col-sm-2 text-right">
                        <select id="input-limit" class="form-control">
                            <option value="" selected="selected">20</option>
                            <option value="">25</option>
                            <option value="">50</option>
                            <option value="">75</option>
                            <option value="">100</option>
                        </select>
                    </div>
                </div>
            </div>
            <br>
            <div class="row products-category">





                <script src="~/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.js"></script>
                @foreach (var item in Model)
                {


                    <div class="product-layout product-grid col-lg-5ths col-md-5ths col-sm-3 col-xs-12">
                        <div class="product-thumb">
                            <div class="~/Template/image"><a asp-action="ProductDetail" asp-controller="Product" asp-route-ProductId="@item.Id"><img src="@($"data:image/jpeg;base64,{Convert.ToBase64String(item.Img)}")" alt="پخش کننده موزیک" title="پخش کننده موزیک" class="img-responsive"></a></div>
                            <div>
                                <div class="caption">
                                    <h2 href="product.html">@item.Name</h2>
                                    <h1>@($"{item.User.FirstName} {item.User.LastName}")</h1>
                                    <p class="description">
                                        @item.Abstract
                                    </p>
                                    <p class="price"> @($"{item.Price:0,0}") تومان <span class="price-tax">بدون مالیات : 100000 تومان</span> </p>
                                </div>
                                <div class="button-group">
                                    <button id="btn1" class="btn-primary button-group" style="" type="submit" onclick=""><span productId="@item.Id" class="span_for" id="span1">افزودن به سبد</span></button>
                                    <div >
                                        <h style="font-size:medium">@($"{(ViewData["CClike"] as List<AnonymosType1>).SingleOrDefault(x => x.PCId == item.Id).Num}")</h>

                                        @if ((ViewData["CClike"] as List<AnonymosType1>).SingleOrDefault(x => x.PCId == item.Id).UserId != null)
                                        {


                                            <input checked="checked" ProductId="@(item.Id)" style="margin-right:5px" type="checkbox" name="cbG06" id="@(item.Id)" class="css-checkbox container-fluid" ><label for="@(item.Id)" class="css-label cb0"></label>


                                        }
                                        else
                                        {
                                            <input ProductId="@(item.Id)" style="margin-right:5px" type="checkbox" name="cbG06" id="@(item.Id)" class="css-checkbox container-fluid"><label for="@(item.Id)" class="css-label cb0"></label>

                                        }
                                    </div>
                                    <div class="add-to-links">

                                        @*<button type="button" data-toggle="tooltip" title="" onclick="" data-original-title="افزودن به علاقه مندی ها"><i class="fa fa-heart"></i> <span>افزودن به علاقه مندی ها</span></button>
            <button type="button" data-toggle="tooltip" title="" onclick="" data-original-title="مقایسه این محصول"><i class="fa fa-exchange"></i> <span>مقایسه این محصول</span></button>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }
                <script>

                    $(function () {
                        $('div').on('click', '#span1', function () {
                            var sp = $(this)
                            var Pid = $(this).attr('productId')
                            $.post('/Cart/InsertCart', { ProductId: Pid }, function (i) {


                                if (i.res == "t") {
                                    sp.html('با موفقیت ثبت شد.')
                                    sp.parents('button').css({ background: 'green' })
                                    setTimeout(function () {
                                        $(span1).html('افزودن به سبد')
                                        $(btn1).css({ background: 'steelblue' })
                                    }, 2000)
                                }
                                else if (i.res == "b") {
                                    sp.html('قبلا خریدید.')
                                    sp.parents('button').css({ background: 'green' })

                                    setTimeout(function () {
                                        $(span1).html('افزودن به سبد')
                                        $(btn1).css({ background: 'steelblue' })
                                    }, 2000)
                                }
                                else {
                                    sp.html('ناموفق')
                                    sp.parents('button').css({ background: 'red' })

                                    setTimeout(function () {
                                        $(span1).html('افزودن به سبد')
                                        $(btn1).css({ background: 'steelblue' })
                                    }, 2000)

                                }
                            })
                        })
                    })
                </script>
                <span class="clearfix visible-lg-block visible-sm-block"></span>
            </div>
            <div class="row">
                <div class="col-sm-6 text-left">
                    <ul class="pagination">
                        <li class="active"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">&gt;</a></li>
                        <li><a href="#">&gt;|</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 text-right">نمایش 1 تا 12 از 15 (مجموع 2 صفحه)</div>
            </div>
        </div>
        <!--Middle Part End -->
    </div>
</div>